/* #region elementos basicos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: linear-gradient(45deg, #040083, #0A0029, #040083);
  background-size: cover;
  background-attachment: fixed;
  color: white;
}


input {
  background-color: transparent;
  padding: 15px;
  outline: #145f87;
  border: 2px solid #209ed8;
  font-size: 17px;
  margin-bottom: 15px;
  color: white;
}

.colorful-placeholder::placeholder {
  color: transparent;
  background-image: linear-gradient(#fff,#fff); 
  -webkit-background-clip: text; 
  background-clip: text; 
}

/* #endregion */

/* #region Section */
section {
  scroll-margin-top: 90px;
  padding: 45px 90px;
}

section > h1 {
  text-transform: uppercase;
  font-size: 2rem;
  border-bottom: 5px solid #209ed8;
  margin-bottom: 2rem;
  color: white;
}

/* #endregion */

/* #region To do list */
.table-header {
  width: 100%;
  height: 10%;
  padding: 0.8rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-header .input-group {
  width: 35%;
  height: 100%;
  background-color: #fff5;
  padding: 0 0.8rem;
  border-radius: 2rem;
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s;
}

.table-header .input-group:hover {
  width: 40%;
  color: white;
  background-color: #fff8;
  box-shadow: 0 0.1rem 0.4rem #0002;
}

.table-header .input-group img {
  width: 1.2rem;
  height: 1.2rem;
}

.table-header .input-group input {
  width: 100%;
  padding: 1rem 0.5rem 0 0.3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

#table-body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: hsla(0, 0%, 100%, 0.1);

  margin: 0.8rem auto;
  border-radius: 0.6rem;

  overflow: auto;
  overflow: overlay;
}

table {
  width: 100%;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: static;
  top: 0;
  left: 0;
  background-color: #fff5;
  cursor: pointer;
  text-transform: capitalize;
}

.filtro {
  display: none;
}
/* #endregion */

/* #region btn Agregar tarea */

.nuevasTareas {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

button.btn-action {
  background-color: #fff5;
  color: white;
  font-size: large;
  width: 15%;
  border: 2px solid #fff5;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button.btn-action:hover {
  background-color: #fff8;
}

/* #endregion */

/* #region btn editar y eliminar */

.btn-edit {
  background-color: #145f87;
  color: white;
  font-size: large;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn-edit:hover {
  background-color: #209ed8;
}

.btn-delete {
  background-color: #b30021;
  color: white;
  font-size: large;
  width: 100%;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: hsl(349, 100%, 50%);
}

/* #endregion */

/* #region modal agregar tarea */

.form-section {
  display: flex;
  flex-direction: column;
  width: 50vw;
  background: linear-gradient(#040083, #0A0029, #040083, #0A0029);
  border-radius: 20px;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-field {
  display: flex;
  flex-direction: column;
}

input,
textarea,
select {
  font-size: 1rem;
  padding: 1rem;
  border: 2px solid #d1dde8;
  border-radius: 3px;
}

input:focus,
input:hover,
input:active,
textarea:focus,
textarea:hover,
textarea:active,
select:focus,
select:hover,
select:active {
  border: 2px solid #d1dde8;
}

input[type="text"],
input[type="number"] {
  flex-grow: 1;
  min-width: 200px;
}

input[type="date"] {
  width: 150px;
  display: flex;
  flex-direction: row;
}

select {
  flex-grow: 1;
  min-width: 200px;
}

button {
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
  padding: 1rem 1.5rem;
}

button.btn {
  background-color: #f3f6f9;
  color: #283848;
}

button.btn:hover {
  background-color: #e2e9f1;
}

button.btn-submit {
  background-color: #fff5;
  color: #fff;
  border: 2px solid #fff5;
}

button.btn-submit:hover {
  background-color: #fff8;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.modal-content {
  width: 53%; 
  margin: 10% auto; 
  background-color: #020041;
  border-radius: 20px;
  padding: 20px;
}

.close {
  display: block;
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* #endregion */

/* #region estatus */

.true {
  margin-top: 30px;
  margin-right: 50px;
  background-color: #86e49d;
  color: #006b21;
  display: inline;
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
}


.false {
  margin-top: 30px;
  margin-right: 50px;
  background-color: #d893a3;
  color: #b30021;
  display: inline;
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
}
/* #endregion */